# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.vpc_crc
*.filters
*.pdb
*.sentinel

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
*.project
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# Ignore the entire game folder
mp/game/*

# shader files
*.tmp

# shader editor specific
/src/lib/public/vgui_controls_editor*.lib
/src/materialsystem/procshader/Debug_procshader*
/src/materialsystem/procshader/Release_procshader*
*.filters
*.vpc_crc
*.sentinel
/src/shadereditor/Debug_shader_editor*
/src/shadereditor/Release_shader_editor*
/src/vgui_editor/Debug*
/src/vgui_editor/Release*

# Misc stuffs
mp/src/.vs/dmcsource/v16/Browse.VC.db
mp/src/.vs/dmcsource/v16/Browse.VC.db-shm
mp/src/.vs/dmcsource/v16/Browse.VC.db-wal
mp/src/.vs/dmcsource/v16/Browse.VC.opendb
mp/src/.vs/dmcsource/v16/Solution.VC.db
mp/src/.vs/dmcsource/v16/Solution.VC.db-shm
mp/src/.vs/dmcsource/v16/Solution.VC.db-wal
mp/src/game/client/Debug_dmcs/client_dmc.vcxproj.FileListAbsolute.txt
mp/src/game/client/Release_dmcs/client_dmc.vcxproj.FileListAbsolute.txt
mp/src/game/server/Release_dmcs/server_dmc.vcxproj.FileListAbsolute.txt
mp/src/mathlib/Debug/mathlib.vcxproj.FileListAbsolute.txt
mp/src/mathlib/Release/mathlib.vcxproj.FileListAbsolute.txt
mp/src/tier1/Debug/tier1.vcxproj.FileListAbsolute.txt
mp/src/tier1/Release/tier1.vcxproj.FileListAbsolute.txt
mp/src/vgui2/vgui_controls/Debug/vgui_controls.vcxproj.FileListAbsolute.txt
mp/src/vgui2/vgui_controls/Release/vgui_controls.vcxproj.FileListAbsolute.txt
mp/src/.vs/dmc/v16/Browse.VC.db
mp/src/.vs/dmc/v16/Browse.VC.db-shm
mp/src/.vs/dmc/v16/Browse.VC.db-wal
mp/src/.vs/dmc/v16/Browse.VC.opendb
mp/src/.vs/dmc/v16/Solution.VC.db
mp/src/.vs/dmc/v16/Solution.VC.db-shm
mp/src/.vs/dmc/v16/Solution.VC.db-wal
